<div ng-controller="ArticleListCtrl">
    <div class="row">
        <h1 class="blue-grey-text center">Articles List</h1>

        <p class="text-info">If you have any interesting <i>News, Articles, Video, Podcast, etc</i> you can save them.
            The will be
            published
            in one of the future Digests.</p>

        <div class="row">
            <div class="col l5 m12">
                <form role="form" name="saveArticleForm">
                    <div class="input-field">
                        <label for="title">Title:</label>
                        <input type="text" class="form-control" id="title" name="title" required
                               ng-model="article.title">
                    </div>
                    <div class="input-field">
                        <label for="url">URL:</label>
                        <input type="text" class="validate" id="url" name="url" required
                               ng-model="article.url">
                    </div>
                    <div class="input-field">
                        <label for="description">Description:</label>
                    <textArea rows="6" class="materialize-textarea" id="description" name="description"
                              ng-model="article.description"></textArea>
                    </div>

                    <button type="button" class="btn waves-effect waves-light" ng-click="saveArticle()">Save</button>

                </form>
                <br/>
                <pre ng-bind="article | json"></pre>
            </div>

            <div class="col l7 m12">

                <ul>
                    <li ng-repeat="article in articles | orderBy:'-id'" class="thumbnail article-listing">
                        <form name="deleteArticleForm" role="form">
                            <a href="{{article.url}}">{{article.title}}</a>
                            <p>{{article.description}}</p>
                            <p><label>Created: {{article.createdDate |
                                date:'yyyy-MM-dd'}}</label></p>
                            <div class="btn-group" role="group" aria-label="...">
                                <div class="col s4">
                                    <button type="button" class="btn disabled">Edit</button>
                                </div>
                                <div class="col s4">
                                    <button type="button" class="btn  red lighten-1 waves-effect waves-light" ng-click="deleteArticle(article)">
                                        Delete
                                    </button>
                                </div>

                            </div>
                        </form>
                    </li>
                </ul>

                <uib-pagination direction-links="false" boundary-links="true" total-items="totalItems"
                                ng-model="currentPage"></uib-pagination>

            </div>
        </div>
    </div>
</div>
