<div class="container">
    <div class="row">
        <h1>Article List</h1>

        <div class="row" ng-controller="SaveArticleCtrl">
            <div class="col-md-4">
                <form role="form" name="saveArticleForm">
                    <div class="form-group">
                        <label for="title">Title:</label>
                        <input type="text" class="form-control" id="title" name="title" required
                               ng-model="article.title">
                    </div>
                    <div class="form-group">
                        <label for="url">URL:</label>
                        <input type="text" class="form-control" id="url" name="url" required
                               ng-model="article.url">
                    </div>
                    <div class="form-group">
                        <label for="description">Description:</label>
                    <textArea rows="6" class="form-control" id="description" name="description"
                              ng-model="article.description"></textArea>

                    </div>

                    <button type="button" class="btn btn-default" ng-click="saveArticle()">Save</button>

                </form>
                <pre ng-bind="article | json"></pre>
            </div>


            <div class="col-md-4">
                <ul>
                    <li ng-repeat="article in articles" class="thumbnail article-listing">
                        <a href="{{article.url}}">{{article.title}}</a>
                        <p>{{article.description}}</p>
                        <p>Created: {{article.createdDate | date:'yyyy-MM-dd'}}</p>
                        <p>Delete | Edit</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
