<div ng-controller="ArchiveCtrl">

    <div class="row">
        <div class="col s12">
            <h5 class="blue-grey-text center">Digests archive</h5>
        </div>

        <div class="col s12">
            <ul class="collection">
                <li ng-repeat="digest in digests | orderBy:'-digest.title'"
                    class="collection-item article-listing">

                    <div class="digest_title"><a href="#/digest/{{digest.id}}">{{digest.title}}</a></div>
                    <p class="digest_info">{{digest.publishedDate | date:'yyyy-MM-dd'}}</p>

                    <a href="javascript:;" data-target="#digest-{{digest.id}}"
                       ng-click="showDetails = !showDetails">{{showDetails && 'Hide' || 'Show more'}}</a>

                    <div id="digest-{{digest.id}}"  ng-class="{ 'vis': !showDetails}">
                        <div ng-include src="'modules/digest/digest-articles.html'"></div>
                    </div>
                </li>
            </ul>
        </div>

        <!-- Pagination -->
        <div class="col s12 m12">
            <ul class="pagination">
                <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
                <li class="active"><a href="#!">1</a></li>
                <li class="waves-effect"><a href="#!">2</a></li>
                <li class="waves-effect"><a href="#!">3</a></li>
                <li class="waves-effect"><a href="#!">4</a></li>
                <li class="waves-effect"><a href="#!">5</a></li>
                <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
            </ul>
        </div>

    </div>
</div>