<div ng-controller="ArchiveCtrl">

    <div class="row">
        <div class="col s12">
            <h5 class="blue-grey-text center">Digests archive</h5>
        </div>

        <div class="col s12">
            <ul class="collection collapsible" data-collapsible="accordion" watch>
                <li ng-repeat="digest in digests | orderBy:'-digest.title'"
                    class="collection-item article-listing">

                    <div class="digest_title"><a href="#/digest/{{digest.id}}">{{digest.title}}</a></div>
                    <p class="digest_info">{{digest.publishedDate | date:'yyyy-MM-dd'}}</p>

                    <a href="javascript:;" data-target="#digest-{{digest.id}}"
                       data-toggle="collapse" ng-click="toggle = !toggle">{{toggle && 'Show more' || 'Hide'}}</a>

                    <div id="digest-{{digest.id}}" class="collapse">
                        <div ng-include src="'modules/digest/digest-articles.html'"></div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="row">
            <uib-pager total-items="totalItems" ng-model="currentPage"></uib-pager>
        </div>
    </div>
</div>