<div class="container">
    <div class="row">
        <h2 class="blue-grey-text center">Digest Creation</h2>

        <div class="row" ng-controller="SaveDigestCtrl">

            <!--Div with form for creating Digests -->
            <div class="row col-centered row-centered">
                <a href="javascript:;" data-target="#digest-form-block"
                   data-toggle="collapse" ng-click="toggle = !toggle">{{toggle && 'Show Form' || 'Hide Form'}}</a>
                <hr>

                <div id="digest-form-block" class="collapse digest-details">
                    <div class="well well-lg">
                        <div class="new-digests-panel row">

                            <div class="col l12 s12">
                                <form role="form" name="saveJsonForm">
                                    <div class="form-group">
                                        <label for="digest-json">Digest as JSON:</label>
                                        <textArea rows="20" class="form-control" id="digest-json" name="jsonDigest"
                                                  ng-model="jsonDigest">
                                        </textArea>
                                    </div>

                                    <button type="button" class="btn btn-default" ng-click="saveJsonDigest()">
                                        Save
                                    </button>

                                    <div class="alert alert-danger" role="alert"
                                         ng-hide="hideDigestJsonValidation">
                                        Invalid Digest JSON!
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End of block with form for creating Digest -->
        </div>

    </div>
</div>
